openapi: 3.0.1
info:
  title: Deegle Intrac
  description: Deegle Intrac Api
  version: 1.0.0
servers:
- url: https://apid.paguetodo.com/demo/intrac
tags:
- name: currency_exchange_rate
- name: currency_rate
- name: driver
- name: fare
- name: itinerary
- name: line
- name: open
  description: Without Authorization
- name: passenger
- name: payment
- name: reservation
- name: server
- name: short_route_price
- name: stop
- name: terminal
- name: terminal_trip_payment
- name: trip
- name: vehicle
- name: vehicle_owner
- name: vehicle_type
- name: website_email
paths:
  /currency_exchange_rate/all:
    get:
      tags:
      - currency_exchange_rate
      operationId: get-currency-exchange-rate-all--operation-id
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExchangeRate'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /currency_exchange_rate/all_as_json:
    get:
      tags:
      - currency_exchange_rate
      operationId: get-currency-exchange-rate-all-as-json--operation-id
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExchangeRate'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /currency_exchange_rate/consistency:
    get:
      tags:
      - currency_exchange_rate
      operationId: get-currency-exchange-rate-consistency--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /currency_exchange_rate/count:
    get:
      tags:
      - currency_exchange_rate
      operationId: get-currency-exchange-rate-count--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /currency_exchange_rate:
    get:
      tags:
      - currency_exchange_rate
      operationId: get-currency-exchange-rate
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: currency
        in: query
        required: true
        schema:
          type: string
          enum:
          - VES
          - VED
          - USD
          - EUR
          - PTR
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExchangeRate'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    post:
      tags:
      - currency_exchange_rate
      summary: Create Currency Exchange Rate
      operationId: post-currency-exchange-rate-intrac-create
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: currency
        in: query
        required: true
        schema:
          type: string
          enum:
          - USD
          - EUR
          - PTR
      - name: rate
        in: query
        required: true
        schema:
          minimum: 0.00
          exclusiveMinimum: true
          type: number
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExchangeRate'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    delete:
      tags:
      - currency_exchange_rate
      summary: Create Currency Exchange Rate
      operationId: delete-currency-exchange-rate-intrac-delete
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: currency
        in: query
        required: true
        schema:
          type: string
          enum:
          - VES
          - VED
          - USD
          - EUR
          - PTR
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExchangeRate'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /currency_exchange_rate/download:
    get:
      tags:
      - currency_exchange_rate
      operationId: get-currency-exchange-rate-download--operation-id
      responses:
        default:
          description: default response
          content:
            application/octet-stream: {}
  /currency_exchange_rate/elastic_mapping:
    get:
      tags:
      - currency_exchange_rate
      operationId: get-currency-exchange-rate-elastic-mapping--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /currency_exchange_rate/get2:
    get:
      tags:
      - currency_exchange_rate
      operationId: get-currency-exchange-rate-by-realm-currency
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: currency
        in: query
        required: true
        schema:
          type: string
          enum:
          - VES
          - VED
          - USD
          - EUR
          - PTR
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExchangeRate'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /currency_exchange_rate/report:
    post:
      tags:
      - currency_exchange_rate
      summary: Report
      operationId: post-currency-exchange-rate-intrac-report
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrencyExchangeRateReportRequest'
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExchangeRate'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /currency_exchange_rate/search:
    post:
      tags:
      - currency_exchange_rate
      operationId: post-currency-exchange-rate-search--operation-id
      parameters:
      - name: type
        in: query
        schema:
          type: string
          default: PAGINATE
          enum:
          - SEARCH
          - PAGINATE
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchEntityCurrencyExchangeRate'
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrencyExchangeRate'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /currency_exchange_rate/truncate:
    put:
      tags:
      - currency_exchange_rate
      operationId: put-currency-exchange-rate-truncate--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /currency_rate/usd:
    get:
      tags:
      - currency_rate
      summary: Get USD exchange rate
      operationId: get-currency-usd-rate-intrac-get
      responses:
        default:
          description: default response
          content:
            text/plain: {}
  /driver/all:
    get:
      tags:
      - driver
      operationId: get-driver-all--operation-id
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /driver/all_as_json:
    get:
      tags:
      - driver
      operationId: get-driver-all-as-json--operation-id
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /driver/consistency:
    get:
      tags:
      - driver
      operationId: get-driver-consistency--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /driver/count:
    get:
      tags:
      - driver
      operationId: get-driver-count--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /driver/count_report:
    post:
      tags:
      - driver
      operationId: get-driver-count-report-request--operation-id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverReportRequest'
        required: true
      responses:
        default:
          description: default response
          content:
            text/plain: {}
  /driver:
    put:
      tags:
      - driver
      summary: Update Driver
      operationId: put-driver-intrac-update
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    post:
      tags:
      - driver
      summary: Create Driver
      operationId: post-driver-intrac-create
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    delete:
      tags:
      - driver
      summary: Delete Driver
      operationId: delete-driver-intrac-delete
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /driver/line/{line_id}:
    get:
      tags:
      - driver
      operationId: get-driver-from-terminal-intrac-get
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    put:
      tags:
      - driver
      summary: Update Driver from terminal
      operationId: put-driver-from-terminal-intrac-update
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    post:
      tags:
      - driver
      summary: Create Driver from terminal
      operationId: post-driver-from-terminal-intrac-create
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    delete:
      tags:
      - driver
      summary: Delete Driver from terminal
      operationId: delete-driver-from-terminal-intrac-delete
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /driver/download:
    get:
      tags:
      - driver
      operationId: get-driver-download--operation-id
      responses:
        default:
          description: default response
          content:
            application/octet-stream: {}
  /driver/elastic_mapping:
    get:
      tags:
      - driver
      operationId: get-driver-elastic-mapping--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /driver/get2:
    get:
      tags:
      - driver
      operationId: get-driver-by-realm-business-id
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /driver/report/line:
    post:
      tags:
      - driver
      summary: Line Report
      operationId: post-line-driver-report-intrac-report
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverReportRequest'
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /driver/report:
    post:
      tags:
      - driver
      summary: Report
      operationId: post-report-driver-intrac-report
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverReportRequest'
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /driver/search:
    post:
      tags:
      - driver
      operationId: post-driver-search--operation-id
      parameters:
      - name: type
        in: query
        schema:
          type: string
          default: PAGINATE
          enum:
          - SEARCH
          - PAGINATE
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchEntityDriver'
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Driver'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /driver/truncate:
    put:
      tags:
      - driver
      operationId: put-driver-truncate--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /fare/all:
    get:
      tags:
      - fare
      operationId: get-fare-all--operation-id
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fare'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /fare/all_as_json:
    get:
      tags:
      - fare
      operationId: get-fare-all-as-json--operation-id
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fare'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /fare/consistency:
    get:
      tags:
      - fare
      operationId: get-fare-consistency--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /fare/count:
    get:
      tags:
      - fare
      operationId: get-fare-count--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /fare/count_report:
    post:
      tags:
      - fare
      operationId: get-fare-count-report-request--operation-id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FareReportRequest'
        required: true
      responses:
        default:
          description: default response
          content:
            text/plain: {}
  /fare:
    get:
      tags:
      - fare
      operationId: get-fare
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: vehicle_type_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fare'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    put:
      tags:
      - fare
      summary: Update Fare
      operationId: put-fare-intrac-update-com.deegle.intrac.api.handler
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: vehicle_type_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FareRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fare'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    post:
      tags:
      - fare
      summary: Create Fare
      operationId: post-fare-intrac-create-com.deegle.intrac.api.handler
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: vehicle_type_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: country
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: start_stop_code
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: destination_stop_code
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FareRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fare'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    delete:
      tags:
      - fare
      summary: Delete Fare
      operationId: delete-fare-intrac-delete-com.deegle.intrac.api.handler
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: vehicle_type_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /fare/csv_file:
    get:
      tags:
      - fare
      operationId: get-csv-file-fare-intrac-get-com.deegle.intrac.api.handler
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      responses:
        default:
          description: default response
          content:
            application/octet-stream: {}
    post:
      tags:
      - fare
      summary: Get Csv File
      operationId: post-csv-file-fare-intrac-get-com.deegle.intrac.api.handler
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeegleIntracFareToTextFileRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fare'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /fare/download:
    get:
      tags:
      - fare
      operationId: get-fare-download--operation-id
      responses:
        default:
          description: default response
          content:
            application/octet-stream: {}
  /fare/elastic_mapping:
    get:
      tags:
      - fare
      operationId: get-fare-elastic-mapping--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /fare/line/{line_id}:
    get:
      tags:
      - fare
      operationId: get-fare-by-line-intrac-com.deegle.intrac.api.handler
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: vehicle_type_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fare'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /fare/get2:
    get:
      tags:
      - fare
      operationId: get-fare-by-realm-business-id
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fare'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /fare/get3:
    get:
      tags:
      - fare
      operationId: get-fare-by-realm-business-id-vehicle-type-id
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: vehicle_type_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fare'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /fare/line/report:
    post:
      tags:
      - fare
      summary: Line Report
      operationId: post-line-fare-report-intrac-report-com.deegle.intrac.api.handler
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FareReportRequest'
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /fare/report:
    post:
      tags:
      - fare
      summary: Report
      operationId: post-report-fare-intrac-report-com.deegle.intrac.api.handler
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FareReportRequest'
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /fare/search:
    post:
      tags:
      - fare
      operationId: post-fare-search--operation-id
      parameters:
      - name: type
        in: query
        schema:
          type: string
          default: PAGINATE
          enum:
          - SEARCH
          - PAGINATE
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchEntityFare'
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Fare'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /fare/truncate:
    put:
      tags:
      - fare
      operationId: put-fare-truncate--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /itinerary/all:
    get:
      tags:
      - itinerary
      operationId: get-itinerary-all--operation-id
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Itinerary'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /itinerary/all_as_json:
    get:
      tags:
      - itinerary
      operationId: get-itinerary-all-as-json--operation-id
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Itinerary'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /itinerary/consistency:
    get:
      tags:
      - itinerary
      operationId: get-itinerary-consistency--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /itinerary/count:
    get:
      tags:
      - itinerary
      operationId: get-itinerary-count--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /itinerary/count_report:
    post:
      tags:
      - itinerary
      operationId: get-itinerary-count-report-request--operation-id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItineraryReportRequest'
        required: true
      responses:
        default:
          description: default response
          content:
            text/plain: {}
  /itinerary:
    get:
      tags:
      - itinerary
      operationId: get-itinerary
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Itinerary'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    put:
      tags:
      - itinerary
      summary: Create Itinerary
      operationId: put-itinerary-intrac-update
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: name
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^(?!\s*$).+
          type: string
      - name: active
        in: query
        schema:
          type: boolean
          default: true
      - name: country
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum:
          - LONG_ROUTE
          - SHORT_ROUTE
      - name: short_route_rate
        in: query
        schema:
          type: number
      - name: short_route_rate_currency
        in: query
        schema:
          type: string
          enum:
          - VES
          - VED
          - USD
          - EUR
          - PTR
      requestBody:
        content:
          application/json:
            schema:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Itinerary'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    post:
      tags:
      - itinerary
      summary: Create Itinerary
      operationId: post-itinerary-intrac-create
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: name
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^(?!\s*$).+
          type: string
      - name: active
        in: query
        schema:
          type: boolean
          default: true
      - name: country
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: type
        in: query
        required: true
        schema:
          type: string
          enum:
          - LONG_ROUTE
          - SHORT_ROUTE
      - name: short_route_rate
        in: query
        schema:
          type: number
      - name: short_route_rate_currency
        in: query
        schema:
          type: string
          enum:
          - VES
          - VED
          - USD
          - EUR
          - PTR
      requestBody:
        content:
          application/json:
            schema:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                type: string
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Itinerary'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    delete:
      tags:
      - itinerary
      operationId: delete-itinerary-intrac-delete
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /itinerary/download:
    get:
      tags:
      - itinerary
      operationId: get-itinerary-download--operation-id
      responses:
        default:
          description: default response
          content:
            application/octet-stream: {}
  /itinerary/elastic_mapping:
    get:
      tags:
      - itinerary
      operationId: get-itinerary-elastic-mapping--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /itinerary/line/{line_id}:
    get:
      tags:
      - itinerary
      operationId: get-itinerary-by-line-intrac
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Itinerary'
  /itinerary/get2:
    get:
      tags:
      - itinerary
      operationId: get-itinerary-by-realm-business-id
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Itinerary'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /itinerary/csv_file:
    post:
      tags:
      - itinerary
      summary: Get Csv File
      operationId: post-csv-file-itinerary-intrac-get-com.deegle.intrac.api.handler
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeegleIntracItineraryToTextFileRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Itinerary'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /itinerary/line/report:
    post:
      tags:
      - itinerary
      summary: Line Report
      operationId: post-line-itinerary-report-intrac-report
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItineraryReportRequest'
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /itinerary/report:
    post:
      tags:
      - itinerary
      summary: Report
      operationId: post-report-itinerary-intrac-report
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ItineraryReportRequest'
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /itinerary/search:
    post:
      tags:
      - itinerary
      operationId: post-itinerary-search--operation-id
      parameters:
      - name: type
        in: query
        schema:
          type: string
          default: PAGINATE
          enum:
          - SEARCH
          - PAGINATE
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchEntityItinerary'
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Itinerary'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /itinerary/truncate:
    put:
      tags:
      - itinerary
      operationId: put-itinerary-truncate--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /line/all:
    get:
      tags:
      - line
      operationId: get-line-all--operation-id
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Line'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /line/all_as_json:
    get:
      tags:
      - line
      operationId: get-line-all-as-json--operation-id
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Line'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /line/change_line:
    put:
      tags:
      - line
      summary: Change Line ID
      operationId: put-change-line-id-intrac-line-operation-id
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: old_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: new_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        default:
          description: default response
          content:
            '*/*': {}
  /line/consistency:
    get:
      tags:
      - line
      operationId: get-line-consistency--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /line/count:
    get:
      tags:
      - line
      operationId: get-line-count--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /line:
    get:
      tags:
      - line
      operationId: get-line
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Line'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    put:
      tags:
      - line
      summary: Update Line
      operationId: put-line-intrac-update
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Line'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    post:
      tags:
      - line
      summary: Create Line
      operationId: post-line-intrac-create
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LineRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Line'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    delete:
      tags:
      - line
      summary: Delete Line
      operationId: delete-line-intrac-delete
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /line/download:
    get:
      tags:
      - line
      operationId: get-line-download--operation-id
      responses:
        default:
          description: default response
          content:
            application/octet-stream: {}
  /line/elastic_mapping:
    get:
      tags:
      - line
      operationId: get-line-elastic-mapping--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /line/get2:
    get:
      tags:
      - line
      operationId: get-line-by-realm
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Line'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /line/payment_aggregation:
    post:
      tags:
      - line
      summary: Payment Aggregation
      operationId: post-payments-aggregation-intrac-line-operation-id
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationPaymentAggregateRequest'
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /line/search:
    post:
      tags:
      - line
      operationId: post-line-search--operation-id
      parameters:
      - name: type
        in: query
        schema:
          type: string
          default: PAGINATE
          enum:
          - SEARCH
          - PAGINATE
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchEntityLine'
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Line'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /line/truncate:
    put:
      tags:
      - line
      operationId: put-line-truncate--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /open/reservation/add_payments:
    put:
      tags:
      - open
      summary: Add Payments to Reservation
      operationId: put-open-reservation-add-payments-intrac-update
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: itinerary_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: trip_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          '*/*':
            schema:
              minItems: 1
              uniqueItems: true
              type: array
              items:
                $ref: '#/components/schemas/NotificationPaymentRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /open/reservation:
    get:
      tags:
      - open
      summary: Get Reservation
      operationId: get-open-reservation-intrac-get
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: itinerary_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: trip_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
    post:
      tags:
      - open
      summary: Create Reservation
      operationId: post-open-reservation-intrac-create
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: itinerary_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: trip_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              minItems: 1
              type: array
              items:
                $ref: '#/components/schemas/PassengerRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /open/reservation/{sequence}:
    get:
      tags:
      - open
      summary: Get Reservation
      operationId: get-open-reservation-by-sequence-intrac-get
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: sequence
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /open/currency_exchange_rates:
    get:
      tags:
      - open
      summary: Get currency exchange rates
      operationId: get-open-currency-exchange-rates-intrac-get
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /open/line/charge_methods:
    get:
      tags:
      - open
      summary: Get Line Charge Methods
      operationId: get-open-line-charge-methods-intrac-get
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Line'
  /open/usd_exchange_rate:
    get:
      tags:
      - open
      summary: Get USD exchange rate
      operationId: get-open-usd-exchange-rate-intrac-get
      responses:
        default:
          description: default response
          content:
            text/plain: {}
  /open/stop/report:
    post:
      tags:
      - open
      summary: Open Stop Report
      operationId: post-open-report-stop-intrac-report
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          text/plain:
            schema:
              type: string
      responses:
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stop'
  /open/trip/report:
    post:
      tags:
      - open
      summary: Open Trip Report
      operationId: post-open-report-trip-intrac-report
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenTripReportRequest'
      responses:
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'
  /passenger/all:
    get:
      tags:
      - passenger
      operationId: get-passenger-all--operation-id
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Passenger'
  /passenger/all_as_json:
    get:
      tags:
      - passenger
      operationId: get-passenger-all-as-json--operation-id
      parameters:
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Passenger'
  /passenger/consistency:
    get:
      tags:
      - passenger
      operationId: get-passenger-consistency--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /passenger/count:
    get:
      tags:
      - passenger
      operationId: get-passenger-count--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /passenger/count_report:
    post:
      tags:
      - passenger
      operationId: get-passenger-count-report-request--operation-id
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerReportRequest'
        required: true
      responses:
        default:
          description: default response
          content:
            text/plain: {}
  /passenger/delete_passenger_without_reservation:
    get:
      tags:
      - passenger
      operationId: put-passenger-delete-passenger-without-reservation-intrac-update
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /passenger/download:
    get:
      tags:
      - passenger
      operationId: get-passenger-download--operation-id
      responses:
        default:
          description: default response
          content:
            application/octet-stream: {}
  /passenger/elastic_mapping:
    get:
      tags:
      - passenger
      operationId: get-passenger-elastic-mapping--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /passenger:
    get:
      tags:
      - passenger
      operationId: get-passenger
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: trip_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: itinerary_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Passenger'
  /passenger/get2:
    get:
      tags:
      - passenger
      operationId: get-passenger-by-realm-business-id
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Passenger'
  /passenger/get3:
    get:
      tags:
      - passenger
      operationId: get-passenger-by-realm-business-id-trip-id
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: trip_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Passenger'
  /passenger/get4:
    get:
      tags:
      - passenger
      operationId: get-passenger-by-realm-business-id-trip-id-itinerary-id
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: trip_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: itinerary_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: page_size
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      - name: paging_state
        in: query
        schema:
          pattern: ^\S*$
          type: string
      responses:
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Passenger'
  /passenger/by_reservation_sequence/{sequence}:
    get:
      tags:
      - passenger
      summary: Get Passengers of Reservation by sequence
      operationId: get-by-reservation-sequence-passengers-intrac-get
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: sequence
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Passenger'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /passenger/by_trip_sequence/{sequence}:
    get:
      tags:
      - passenger
      summary: Get Passengers of Trip by sequence
      operationId: get-by-trip-sequence-passengers-intrac-get
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: sequence
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Passenger'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /passenger/passenger_fares:
    get:
      tags:
      - passenger
      summary: Get Passenger Fares
      operationId: get-passenger-fares-from-trip-intrac-get
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: itinerary_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: trip_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /passenger/passenger_fares/{line_id}:
    get:
      tags:
      - passenger
      summary: Get Passenger Fares from terminal
      operationId: get-passenger-fares-from-trip-from-terminal-intrac-get
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: itinerary_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: trip_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /passenger/passenger_type_count_from_trip/{sequence}:
    get:
      tags:
      - passenger
      summary: Get Count of Passengers from Trip by sequence
      operationId: get-passenger-type-count-from-trip-intrac-get
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: sequence
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /passenger/line/report:
    post:
      tags:
      - passenger
      summary: Line Report
      operationId: post-line-passenger-report-intrac-report
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerReportRequest'
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /passenger/report:
    post:
      tags:
      - passenger
      summary: Report
      operationId: post-report-passenger-report-intrac-report
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerReportRequest'
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /passenger/reservation/report:
    post:
      tags:
      - passenger
      summary: Reservation Report
      operationId: post-reservation-passenger-report-intrac-report
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: itinerary_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: trip_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: reservation_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerReportRequest'
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /passenger/search:
    post:
      tags:
      - passenger
      operationId: post-passenger-search--operation-id
      parameters:
      - name: type
        in: query
        schema:
          type: string
          default: PAGINATE
          enum:
          - SEARCH
          - PAGINATE
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchEntityPassenger'
      responses:
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Passenger'
  /passenger/update_reservation_status:
    get:
      tags:
      - passenger
      operationId: put-passenger-update-reservation-status-intrac-update
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /passenger/transfer:
    put:
      tags:
      - passenger
      summary: Transfer Passengers
      operationId: put-transfer-passenger-intrac-update
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferPassengerRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Passenger'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /passenger/transfer/line/{line_id}:
    put:
      tags:
      - passenger
      summary: Transfer Passengers from terminal
      operationId: put-transfer-passenger-from-terminal-intrac-update
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferPassengerRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Passenger'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /passenger/trip/report:
    post:
      tags:
      - passenger
      summary: Trip Report
      operationId: post-trip-passenger-report-intrac-report
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: itinerary_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: trip_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerReportRequest'
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /passenger/trip/report/{line_id}:
    post:
      tags:
      - passenger
      summary: Trip Report
      operationId: post-trip-passenger-report-alternative-intrac-report
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: itinerary_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: trip_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 10
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PassengerReportRequest'
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /passenger/truncate:
    put:
      tags:
      - passenger
      operationId: put-passenger-truncate--operation-id
      responses:
        default:
          description: default response
          content:
            application/json: {}
  /passenger/status:
    put:
      tags:
      - passenger
      summary: Update Passenger Status
      operationId: put-passenger-change-status-intrac-update
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: itinerary_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: trip_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        required: true
        schema:
          type: string
          enum:
          - PRE_BOARDING
          - TRANSFERRED
          - BOARDING
          - OUT_INSIDE
          - OUT_OUTSIDE
          - DID_NOT_SHOWED_UP
          - CHANGED_TICKET
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Passenger'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /passenger/info:
    put:
      tags:
      - passenger
      summary: Update Passenger Info
      operationId: put-passenger-info-intrac-update
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: business_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: itinerary_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: trip_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePassengerRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Passenger'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
  /passenger/info/terminal/{line_id}:
    put:
      tags:
      - passenger
      summary: Update Passenger Info From Terminal
      operationId: put-passenger-info-from-terminal-intrac-update
      parameters:
      - name: realm
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: user_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: user_email
        in: query
        required: true
        schema:
          minLength: 1
          pattern: ^\S*$
          type: string
      - name: line_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: itinerary_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: trip_id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: query
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePassengerRequest'
        required: true
      responses:
        "200":
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Passenger'
        "202":
          description: ERROR
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
[...]
