<nav-bar></nav-bar>
<main style="margin:2%;padding:2%;margin-top:0px;overflow-x:hidden;overflow-y:visible;">
	<div class="container-fluid" style="width:100%;">
		<msg-component [mensaje]="mensaje"></msg-component>
		<loading-service></loading-service>
		<div class="row" style="margin-top:15px;margin-bottom:10px;">
			<div class="col-lg-6 col-md-6 col-sm-6 col-6" style="text-align:left;">
				<h4 class="color-title font-bold d-none d-sm-inline-block" style="margin-bottom:0px;padding-bottom:0px;margin-top:0px;">Automoviles</h4>
				<h6 class="color-title font-bold d-sm-none" style="margin-bottom:0px;padding-bottom:0px;margin-top:0px;">Automoviles</h6>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-6" style="text-align:right;">
				<button type="button" class="btn btn-lg font-regular button-done " routerLink="/car-create">
					<img src="assets/images/add.svg" width="20px"/>&nbsp;Nuevo
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<form style="border:1px solid #ccc; background:#F5F5F5;padding:5px;">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 col-12" style="margin-top:5px;text-align:left;">
							<div class="form-floating" style="margin-top:5px;">
								<input type="text" class="form-control filtro-busqueda" id="line" name="line" [(ngModel)]="line" maxlength="30" style="text-transform:uppercase;">
								<label for="nombre">Linea</label>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-12" style="margin-top:5px;text-align:left;">
							<div class="form-floating" style="margin-top:5px;">
								<input type="text" class="form-control filtro-busqueda" id="propietario" name="propietario" [(ngModel)]="propietario" maxlength="30" style="text-transform:uppercase;">
								<label for="propietario">Propietario</label>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-12" style="margin-top:5px;text-align:left;">
							<div class="form-floating" style="margin-top:5px;">
								<input type="text" class="form-control filtro-busqueda" id="rif" name="rif" [(ngModel)]="rif" maxlength="12" style="text-transform:uppercase;">
								<label for="rif">RIF/CI</label>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-12" style="margin-top:5px;text-align:left;">
							<div class="form-floating" style="margin-top:5px;">
								<input type="text" class="form-control filtro-busqueda" id="marca" name="marca" [(ngModel)]="marca" maxlength="30" style="text-transform:uppercase;">
								<label for="marca">Marca</label>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-12" style="margin-top:5px;text-align:left;">
							<div class="form-floating" style="margin-top:5px;">
								<input type="text" class="form-control filtro-busqueda" id="placa" name="placa" [(ngModel)]="placa" maxlength="7" style="text-transform:uppercase;">
								<label for="placa">Placa</label>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-12" style="text-align:right;margin-top:5px;">
							<button type="button" class="btn btn-outline-dark btn-lg" style="margin:10px;font-size:14px;" (click)="clean()">Limpiar</button>
							<button class="btn btn btn-outline-warning btn-lg" style="margin:10px;font-size:14px;" (click)="search()">Buscar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="listRegister!=null && listRegister.length!=0">
				<div class="table-responsive-vertical shadow-z-1 " style="width:100%;margin-top:15px;">
					<table id="table-car" class="table table-hover table-mc-light-blue">
						<thead>
							<tr>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">#</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Placa</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Carroceria</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Marca</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Color</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;text-align:center;">Año</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;text-align:center">Capacidad</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Linea</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Propietario</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;"></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of listRegister let i = index;">
								<td data-title="#" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row">
									&nbsp;{{((pageSelected-1)*detallePorPagina)+(i+1)}}
								</td>
								<td data-title="Placa" *ngIf="item.license_plate!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
									&nbsp;{{item.license_plate}}
								</td>
								<td data-title="Placa" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.license_plate==null">
													
								</td>
								<td data-title="Carroceria" *ngIf="item.bodywork!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
									&nbsp;{{item.bodywork}}
								</td>
								<td data-title="Carroceria" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.bodywork==null">
													
								</td>
								<td data-title="Marca" *ngIf="item.brand!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row">
									&nbsp;{{item.brand}}
								</td>
								<td data-title="Marca" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.brand==null">
													
								</td>
								<td data-title="Color" *ngIf="item.color!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row">
									&nbsp;{{item.color}}
								</td>
								<td data-title="Color" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.color==null">
													
								</td>
								<td data-title="Año" *ngIf="item.year!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;text-align:center" scope="row">
									&nbsp;{{item.year}}
								</td>
								<td data-title="Año" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;text-align:center" scope="row" *ngIf="item.year==null">
													
								</td>
								<td data-title="Cap" *ngIf="item.capacity!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;text-align:center" scope="row">
									&nbsp;{{item.capacity}}
								</td>
								<td data-title="Cap" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;text-align:center" scope="row" *ngIf="item.capacity==null">
													
								</td>
								<td data-title="Linea" *ngIf="item.line_name!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row">
									{{item.line_name}}
								</td>
								<td data-title="Linea" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.line_name==null">
													
								</td>
								<td data-title="Propietario" *ngIf="item.owner_name!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row">
									{{item.owner_name}} - ({{item.owner_id_doc}})
								</td>
								<td data-title="Propietario" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.owner_name==null">
													
								</td>
								<td>
									<div class="btn-group" role="group" style="padding-left:0px;padding-right:0px;margin-bottom:5px;text-align:right;">
										<div class="dropdown" *ngIf="item.actions!=null && item.actions.length!=0">
											<button class="btn btn-secondary dropdown-toggle" type="button" name="dropdownName{{i}}" id="dropdownMenu{{i}}" data-bs-toggle="dropdown" aria-expanded="false">
												<img src="assets/images/add.svg" width="20px"/>
											</button>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
												<li (click)="selectedAction(item,item1)" style="cursor:pointer;"  *ngFor="let item1 of item.actions; let j = index;">
													<a class="dropdown-item">{{item1.functionality_detail}}</a>
												</li>
											</ul>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<custom-table [size]="pagingActual.count" [labelSize]="'Total'"
					[alignSize]="'alignRight'" [totalPage]="detallePorPagina"
					[totalPageRecords]="totalPage" [pageSelected]="pageSelected"
					(cantidadTransaccionesTabla)="getCantidadSelected($event)"
					(valueFirst)="getValueFirst($event)" (valuePrevious)="getValuePrevious($event)"
					(valueNext)="getValueNext($event)" (valueLast)="getValueLast($event)"
					(valueChangeRecords)="getValueChangeRecords($event)">
				</custom-table>
			</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;padding-top:45px;vertical-align:middle;" *ngIf="listRegister==null || listRegister.length==0">
			<h3 class="font-bold" style="color:#d0d6e2;">No hay registros</h3>
		</div>
	</div>	
</div>
</main>
<div class="modal" tabindex="-1" id="modalDeleteCar">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Eliminar</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p *ngIf="dataSelected!=null">Desea eliminar el automóvil del propietario <b class="font-bold">{{dataSelected.owner_name}}</b> con la placa <b class="font-bold">{{dataSelected.license_plate}}</b></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-danger" (click)="deleteData()">Eliminar</button>
			</div>
		</div>
	</div>
</div>