<nav-bar></nav-bar>
<main style="margin:4%;padding:2%;margin-top:0px;">
	<div class="container-fluid" style="width:100%;">
		<loading-service></loading-service>  
		<msg-component [mensaje]="mensaje" (valueChanged)="getValueMsg($event)"></msg-component> 
		<div  class="row" style="margin-top:15px;margin-bottom:10px;">
    		<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="text-align:left;">
				<h4 class="font-bold d-none d-sm-inline-block" style="margin-bottom:0px;padding-bottom:0px;margin-top:0px;">{{title}}</h4>
				<h6 class="font-bold d-sm-none" style="margin-bottom:0px;padding-bottom:0px;margin-top:0px;">{{title}}</h6>
			</div>
		</div>
		<form id="form-car-type-create" style="margin-top:15px;">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="form-floating" style="margin-top:15px;">
						<input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" maxlength="25" style="text-transform:uppercase;">
						<label for="name">Nombre</label>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="form-floating" style="margin-top:15px;">
						<input type="number" class="form-control" id="capacidad" name="capacidad" [(ngModel)]="capacidad" maxlength="3" style="text-transform:uppercase;">
						<label for="capacidad">Capacidad</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="listCaracteristicas!=null && listCaracteristicas.length!=0">
					<div class="table-responsive-vertical shadow-z-1 " style="width:100%;margin-top:15px;">
						<table id="table-add-feature" class="table table-hover table-mc-light-blue" *ngIf="listCaracteristicas!=null && listCaracteristicas.length!=0">
							<thead>
								<tr>
									<th class="font-bold" style="text-align:left;">Detalle</th>
									<th class="font-bold" style="text-align:right;"></th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of listCaracteristicas let i = index;">
									<td  class="font-regular"  style="text-align:left;padding:5px;">
										<div class="form-floating">
											<input type="text" class="form-control" id="value{{i}}"  name="value{{i}}"  [(ngModel)]="item.value" style="text-transform:uppercase;">
											<label [attr.for]="'value' + i">Característica {{i+1}}</label>
										</div>
									</td>
									<td data-title="Acciones" class="font-regular" style="text-align:right;padding:5px;vertical-align:middle;">
										<a (click)="deleteFeature(i)" style="cursor:pointer;"><img src="assets/images/cancelar.svg" width="24px" height="24px"></a>
									</td>
								</tr>
							</tbody>
						</table>
						<a class="font-bold" (click)="addFeature()" *ngIf="listCaracteristicas!=null && listCaracteristicas.length!=0" style="float:right;text-decoration:underline;margin-top:0px;cursor:pointer;">
							<img src="assets/images/add_black.svg" width="24px" height="24px">Nueva característica
						</a>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-12" *ngIf="listCaracteristicas==null || listCaracteristicas.length==0" style="text-align:center;padding:20px;">
					<a class="btn btn-dark" (click)="addFeature()"><img src="assets/images/add.svg" width="24px" height="24px">Nueva característica</a>
				</div>
			</div>
			<div  class="row" style="margin-top:20px;">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="text-align:right;">
					<button type="button" class="btn btn-light btn-lg" style="border:1px solid #e0e0e0;margin:10px;font-size:14px;" (click)="back()">Regresar</button>
					<button type="button" class="btn btn-dark btn-lg" style="margin:10px;font-size:14px;" (click)="clean()">Limpiar</button>
					<button class="btn button-done btn-lg" style="margin:10px;font-size:14px;" (click)="done()">Guardar</button>
				</div>
			</div>
		</form>
	</div>
</main>