<nav-bar></nav-bar>
<main style="margin:2%;padding:2%;margin-top:0px;overflow-x:hidden;">
	<div class="container-fluid" style="width:100%;">
		<msg-component [mensaje]="mensaje"></msg-component>
		<loading-service></loading-service>
		<div class="row" style="margin-top:15px;margin-bottom:10px;">
			<div class="col-lg-6 col-md-6 col-sm-6 col-6" style="text-align:left;">
				<h4 class="color-title font-bold d-none d-sm-inline-block" style="margin-bottom:0px;padding-bottom:0px;margin-top:0px;">Conductores</h4>
				<h6 class="color-title font-bold d-sm-none" style="margin-bottom:0px;padding-bottom:0px;margin-top:0px;">Conductores</h6>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-6" style="text-align:right;" *ngIf="mostrarCrear">
				<button type="button" class="btn btn-lg font-regular button-done " routerLink="/driver-create">
					<img src="assets/images/add.svg" width="20px"/>&nbsp;Nuevo
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<form style="border:1px solid #ccc; background:#F5F5F5;padding:5px;">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 col-12" style="margin-top:5px;text-align:left;">
							<div class="form-floating" style="margin-top:5px;">
								<input type="text" class="form-control filtro-busqueda" id="nombre" name="nombre" [(ngModel)]="nombre" maxlength="30" style="text-transform:uppercase;">
								<label for="nombre">Nombre</label>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-12" style="margin-top:5px;text-align:left;">
							<div class="form-floating" style="margin-top:5px;">
								<input type="text" class="form-control filtro-busqueda" id="doc" name="doc" [(ngModel)]="doc" maxlength="12" style="text-transform:uppercase;">
								<label for="doc">RIF/CI</label>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-12" style="margin-top:5px;text-align:left;">
							<div class="form-floating" style="margin-top:5px;">
								<input type="text" class="form-control filtro-busqueda" id="email" name="email" [(ngModel)]="email" maxlength="30" style="text-transform:lowercase;">
								<label for="email">Correo Electrónico</label>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-12" style="margin-top:5px;text-align:left;">
							<div class="form-floating" style="margin-top:5px;">
								<input type="text" class="form-control filtro-busqueda" id="linea" name="linea" [(ngModel)]="linea" maxlength="30" style="text-transform:uppercase;">
								<label for="linea">Linea</label>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-12" style="margin-top:5px;text-align:left;">
							<div class="form-floating" style="margin-top:5px;">
								<select class="form-select filtro-busqueda" id="status" name="status" aria-label="Seleccione el estatus" [(ngModel)]="status">
									<option *ngFor="let item of listStatus let i = index;" [value]="item.value">{{item.name}}</option>
								</select>
								<label for="status">Estatus</label>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 col-12" style="text-align:right;margin-top:5px;">
							<button type="button" class="btn btn-outline-dark btn-lg" style="margin:10px;font-size:14px;" (click)="clean()">Limpiar</button>
							<button class="btn btn btn-outline-warning btn-lg" style="margin:10px;font-size:14px;" (click)="search()">Buscar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="listRegister!=null && listRegister.length!=0">
				<div class="table-responsive-vertical shadow-z-1 " style="width:100%;margin-top:15px;">
					<table id="table-car" class="table table-hover table-mc-light-blue">
						<thead>
							<tr>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">#</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">RIF/CI</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Nombre</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Email</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Teléfono</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Linea</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;text-align:right;">Estatus</th>
								<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;"></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of listRegister let i = index;">
								<td data-title="#" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row">
									&nbsp;{{((pageSelected-1)*detallePorPagina)+(i+1)}}
								</td>
								<td data-title="RIF/CI" *ngIf="item.id_doc!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
									&nbsp;{{item.id_doc}}
								</td>
								<td data-title="RIF/CI" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.id_doc==null">
													
								</td>
								<td data-title="Nombre" *ngIf="item.name!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
									&nbsp;{{item.name}}
								</td>
								<td data-title="Nombre" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.name==null">
													
								</td>
								<td data-title="Email" *ngIf="item.email!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
									&nbsp;{{item.email}}
								</td>
								<td data-title="Email" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.email==null">
													
								</td>
								<td data-title="Teléfono" *ngIf="item.phone!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
									&nbsp;{{item.phone}}
								</td>
								<td data-title="Teléfono" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.phone==null">
													
								</td>			
								<td data-title="Linea" *ngIf="item.line_name!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
									&nbsp;{{item.line_name}}
								</td>
								<td data-title="Linea" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.line_name==null">
													
								</td>
								<td data-title="Estatus" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;text-align:right;" scope="row" *ngIf="item.formatted_status!=null">
										&nbsp;{{item.formatted_status}}			
								</td>								
								<td data-title="Estatus" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;text-align:right;" scope="row" *ngIf="item.formatted_status==null">
													
								</td>
								<td>
									<div class="btn-group" role="group" style="padding-left:0px;padding-right:0px;margin-bottom:5px;text-align:right;">
										<div class="dropdown" *ngIf="item.actions!=null && item.actions.length!=0">
											<button class="btn btn-secondary dropdown-toggle" type="button" name="dropdownName{{i}}" id="dropdownMenu{{i}}" data-bs-toggle="dropdown" aria-expanded="false">
												<img src="assets/images/add.svg" width="20px"/>
											</button>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
												<li (click)="selectedAction(item,item1)" style="cursor:pointer;"  *ngFor="let item1 of item.actions; let j = index;">
													<a class="dropdown-item">{{item1.functionality_detail}}</a>
												</li>
											</ul>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<custom-table [size]="pagingActual.count" [labelSize]="'Total'"
					[alignSize]="'alignRight'" [totalPage]="detallePorPagina"
					[totalPageRecords]="totalPage" [pageSelected]="pageSelected"
					(cantidadTransaccionesTabla)="getCantidadSelected($event)"
					(valueFirst)="getValueFirst($event)" (valuePrevious)="getValuePrevious($event)"
					(valueNext)="getValueNext($event)" (valueLast)="getValueLast($event)"
					(valueChangeRecords)="getValueChangeRecords($event)">
				</custom-table>
			</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;padding-top:45px;vertical-align:middle;" *ngIf="listRegister==null || listRegister.length==0">
			<h3 class="font-bold" style="color:#d0d6e2;">No hay registros</h3>
		</div>
	</div>	
</div>
</main>
<div class="modal" tabindex="-1" id="modalDeleteDriver">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Eliminar</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p *ngIf="dataSelected!=null">Desea eliminar al conductor <b class="font-bold">{{dataSelected.name}}</b> de la linea <b class="font-bold">{{dataSelected.line_name}}</b></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-danger" (click)="deleteData()">Eliminar</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" tabindex="-1" id="modalActivateDriver">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Activar</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p *ngIf="dataSelected!=null">Desea activar al conductor  <b class="font-bold">{{dataSelected.name}}</b> de la linea <b class="font-bold">{{dataSelected.line_name}}</b></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-primary" (click)="activeData()">Activar</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" tabindex="-1" id="modalInactivateDriver">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Desactivar</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p *ngIf="dataSelected!=null">Desea suspender al conductor  <b class="font-bold">{{dataSelected.name}}</b> de la linea <b class="font-bold">{{dataSelected.line_name}}</b></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button type="button" class="btn btn-danger" (click)="inactiveData()">Desactivar</button>
			</div>
		</div>
	</div>
</div>