<nav-bar class="noPrint"></nav-bar>
<main style="margin:4%;padding:2%;margin-top:0px;">
	<div class="container-fluid" style="width:100%;">
		<loading-service></loading-service>  
		<msg-component [mensaje]="mensaje" (valueChanged)="getValueMsg($event)"></msg-component> 
		<div  class="row"  style="margin-top:15px;margin-bottom:10px;">
    		<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="text-align:left;">
				<h4 class="font-bold d-none d-sm-inline-block" style="margin-bottom:0px;padding-bottom:0px;margin-top:0px;">{{title}}</h4>
				<h6 class="font-bold d-sm-none" style="margin-bottom:0px;padding-bottom:0px;margin-top:0px;">{{title}}</h6>
			</div>
		</div>
		<form id="form-line-view" style="margin-top:15px;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="card" style="width:100%">
						<div class="card-body">
							<h5 class="card-title text-center" *ngIf="codigo!=null">{{codigo}}</h5>
							<p class="card-text">
									<label *ngIf="nombre!=null"><b class="font-bold">Nombre:&nbsp;</b>{{nombre}}</label><br *ngIf="nombre!=null">
									<label *ngIf="expedicion!=null"><b class="font-bold">Fecha de expedición de permiso:&nbsp;</b>{{expedicion}}</label><br *ngIf="expedicion!=null">
									<label *ngIf="vencimiento!=null"><b class="font-bold">Fecha de vencimiento de permiso:&nbsp;</b>{{vencimiento}}</label><br *ngIf="vencimiento!=null">
									<label *ngIf="modalidad!=null"><b class="font-bold">Modalidad de transporte:&nbsp;</b>{{modalidad}}</label><br *ngIf="modalidad!=null">
									<label *ngIf="direccion!=null"><b class="font-bold">Dirección:&nbsp;</b>{{direccion}}</label><br *ngIf="direccion!=null">
									<label *ngIf="unidades!=null"><b class="font-bold">Unidades:&nbsp;</b>{{unidades}}</label><br *ngIf="unidades!=null">
									<label *ngIf="status!=null"><b class="font-bold">Estatus:&nbsp;</b>{{status}}</label><br *ngIf="status!=null">
							</p>
							<h6 class="font-bold" style="margin-top:15px;" *ngIf="listBankAccounts!=null && listBankAccounts.length!=0">Cuentas bancarias</h6>
							<div class="table-responsive-vertical shadow-z-1 " *ngIf="listBankAccounts!=null && listBankAccounts.length!=0">
								
								<table id="table-view-line-1" class="table table-hover table-mc-light-blue">
									<thead>
										<tr>
											<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">#</th>
											<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Banco</th>
											<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Nro.cuenta</th>
											<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">RIF/CI</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let item of listBankAccounts let i = index;">
											<td data-title="#" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row">
												&nbsp;{{i+1}}
											</td>
											<td data-title="Banco" *ngIf="item.bank!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
												&nbsp;{{item.bank}}
											</td>
											<td data-title="Banco" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.bank==null">
																
											</td>
											<td data-title="Nro.cuenta" *ngIf="item.number!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
												&nbsp;{{item.number}}
											</td>
											<td data-title="Nro.cuenta" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.number==null">
																
											</td>
											<td data-title="RIF/CI" *ngIf="item.id_doc!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
												&nbsp;{{item.id_doc}}
											</td>
											<td data-title="RIF/CI" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.id_doc==null">
																
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<h6 class="font-bold" style="margin-top:15px;" *ngIf="listPagoMovil!=null && listPagoMovil.length!=0">Pago Móvil</h6>
							<div class="table-responsive-vertical shadow-z-1 " *ngIf="listPagoMovil!=null && listPagoMovil.length!=0">
								
								<table id="table-view-line-2" class="table table-hover table-mc-light-blue">
									<thead>
										<tr>
											<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">#</th>
											<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Banco</th>
											<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">Nro.teléfono</th>
											<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:13px;">RIF/CI</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let item of listPagoMovil let i = index;">
											<td data-title="#" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row">
												&nbsp;{{i+1}}
											</td>
											<td data-title="Banco" *ngIf="item.bank!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
												&nbsp;{{item.bank}}
											</td>
											<td data-title="Banco" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.bank==null">
																
											</td>
											<td data-title="Teléfono" *ngIf="item.phone!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
												&nbsp;{{item.phone}}
											</td>
											<td data-title="Teléfono" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.phone==null">
																
											</td>
											<td data-title="RIF/CI" *ngIf="item.id_doc!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
												&nbsp;{{item.id_doc}}
											</td>
											<td data-title="RIF/CI" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:11px;" scope="row" *ngIf="item.id_doc==null">
																
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="card" style="width:100%">
						<div class="card-body">
							<p class="card-text" style="margin-top:10px;text-align:right;">
								<label style="font-size:12px;color:#90a4ae;" *ngIf="creado_por!=null"><b class="font-bold" style="font-size:12px;color:#90a4ae;">Creado por:&nbsp;</b>{{creado_por}}</label><br *ngIf="creado_por!=null">
								<label style="font-size:12px;color:#90a4ae;" *ngIf="creado_el!=null"><b class="font-bold" style="font-size:12px;color:#90a4ae;">Creado el:&nbsp;</b>{{creado_el}}</label><br *ngIf="creado_el!=null">
								<label style="font-size:12px;color:#90a4ae;" *ngIf="actualizado_por!=null"><b class="font-bold" style="font-size:12px;color:#90a4ae;">Actualizado por:&nbsp;</b>{{actualizado_por}}</label><br *ngIf="actualizado_por!=null">
								<label style="font-size:12px;color:#90a4ae;" *ngIf="actualizado_el!=null"><b class="font-bold" style="font-size:12px;color:#90a4ae;">Actualizado el:&nbsp;</b>{{actualizado_el}}</label><br *ngIf="actualizado_el!=null">
							</p>
						</div>
					</div>
				</div>
			</div>
			<div  class="row noPrint" style="margin-top:20px;">
				<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="text-align:right;">
					<button type="button" class="btn btn-light btn-lg" style="border:1px solid #e0e0e0;margin:10px;font-size:14px;" (click)="back()">Regresar</button>
					<button class="btn button-done btn-lg" style="margin:10px;font-size:14px;" (click)="print()">Imprimir</button>
				</div>
			</div>
		</form>
	</div>
</main>