<header>
	<nav class="navbar navbar-expand-md background-navbar fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" routerLink="/loading">
				<img src="assets/images/alcaldia.png" width="50px"/>
			</a>
			<ul class="nav navbar-nav nav-flex-icons ml-auto">
				<li class="nav-item" style="cursor:pointer;color:white;">
						<a class="nav-link" aria-current="page" (click)="doLogout()" style="color:white;"><img src="assets/images/logout.svg"/>&nbsp;Salir</a>
				</li>
			</ul>
		</div>
	</nav>
</header>