<nav-bar></nav-bar>
<main style="margin:2%;padding:2%;margin-top:0px;overflow-x:hidden;">
    <div class="container-fluid" style="width:100%;">
		<div class="row"  style="margin-top:15px;margin-bottom:10px;">
			<div class="col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="container content">
					<div style="padding-top:20px;" align="center">
						<h2 class="font-regular">Bienvenidos</h2>
						<h4 class="font-regular color-title" style="margin-top:15px;">Este usuario no posee los permisos necesarios para entrar a esta sección</h4>
						<img src="assets/images/intrac.png" alt="" style="width:200px;box-shadow:none;margin-top:15px;">
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
