	<nav-bar></nav-bar>
    <main style="margin:2%;padding:2%;margin-top:0px;overflow-x:hidden;overflow-y:visible;">
        <div class="container-fluid" style="width:100%;">
			<msg-component [mensaje]="mensaje"></msg-component>
			<loading-service></loading-service>
			<div class="row" style="margin-top:15px;margin-bottom:10px;">
				<div class="col-lg-6 col-md-6 col-sm-6 col-6" style="text-align:left;">
					<h4 class="color-title font-bold d-none d-sm-inline-block" style="margin-bottom:0px;padding-bottom:0px;margin-top:0px;">Precio de ruta corta</h4>
					<h6 class="color-title font-bold d-sm-none" style="margin-bottom:0px;padding-bottom:0px;margin-top:0px;">Tasa de Cambio</h6>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-6" style="text-align:right;" *ngIf="mostrarCrear">
					<button type="button" class="btn btn-lg font-regular button-done " routerLink="/price-short-route-create">
						<img src="assets/images/add.svg" width="20px"/>&nbsp;Nuevo
					</button>
				</div>
			</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-12">
						<form style="border:1px solid #ccc; background:#F5F5F5;padding:5px;">
							<div class="row">
								<!--<div class="col-lg-6 col-md-6 col-sm-6 col-12" style="margin-top:5px;text-align:left;">
									<div class="form-floating" style="margin-top:5px;">
										<input type="text" class="form-control filtro-busqueda" id="nombre" name="nombre" [(ngModel)]="nombre" maxlength="25" style="text-transform:uppercase;">
										<label for="nombre">Nombre</label>
									</div>
								</div>-->
								<div class="col-lg-12 col-md-12 col-sm-12 col-12" style="text-align:right;margin-top:5px;">
									<!--<button type="button" class="btn btn-outline-dark btn-lg" style="margin:10px;font-size:14px;" (click)="clean()">Limpiar</button>-->
									<button class="btn btn btn-outline-warning btn-lg" style="margin:10px;font-size:14px;" (click)="search()">Buscar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="listRegister!=null && listRegister.length!=0">
						<div class="table-responsive-vertical shadow-z-1 " style="width:100%;margin-top:15px;">
							<table id="table" class="table table-hover table-mc-light-blue">
								<thead>
									<tr>
										<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:14px;">#</th>
										<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:14px;">FECHA</th>
										<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:14px;text-align:center;">MONEDA</th>
										<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:14px;text-align:right;">MONTO</th>
										<th class="font-bold" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:14px;text-align:right;">CREADO POR</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let item of listRegister let i = index;">
										<td data-title="#" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:14px;" scope="row">
											&nbsp;{{((pageSelected-1)*detallePorPagina)+(i+1)}}
										</td>
										<td data-title="FECHA" *ngIf="item.formatted_at!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:12px;" scope="row">
											{{item.formatted_at}}
										</td>
										<td data-title="FECHA" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:14px;"scope="row" *ngIf="item.formatted_at==null">
											&nbsp;		
										</td>
										<td data-title="MONEDA" *ngIf="item.currency!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:14px;text-align:center;" scope="row">
											{{item.currency}}
										</td>
										<td data-title="MONEDA" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:14px;"scope="row" *ngIf="item.currency==null">
											&nbsp;		
										</td>
										<td data-title="MONTO" *ngIf="item.monto!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:14px;text-align:right;" scope="row">
											{{item.monto}}
										</td>
										<td data-title="MONTO" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:14px;"scope="row" *ngIf="item.monto==null">
												&nbsp;	
										</td>
										<td data-title="CREADO POR" *ngIf="item.created_by_email!=null" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:14px;text-align:right;" scope="row">
											{{item.created_by_email}}
										</td>
										<td data-title="CREADO POR" class="font-regular" style="padding-top:10px;padding-bottom:10px;word-wrap: break-word;font-size:14px;"scope="row" *ngIf="item.created_by_email==null">
											&nbsp;		
										</td>
										
									</tr>
								</tbody>
							</table>
						</div>
						<custom-table [size]="pagingActual.count" [labelSize]="'Total'"
							[alignSize]="'alignRight'" [totalPage]="detallePorPagina"
							[totalPageRecords]="totalPage" [pageSelected]="pageSelected"
							(cantidadTransaccionesTabla)="getCantidadSelected($event)"
							(valueFirst)="getValueFirst($event)" (valuePrevious)="getValuePrevious($event)"
							(valueNext)="getValueNext($event)" (valueLast)="getValueLast($event)"
							(valueChangeRecords)="getValueChangeRecords($event)">
						</custom-table>
					</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;padding-top:45px;vertical-align:middle;" *ngIf="listRegister==null || listRegister.length==0">
					<h3 class="Poppins-bold" style="color:#d0d6e2;">No hay registros</h3>
				</div>
				</div>	
		</div>
	</main>
